# Auth.js
AUTH_SECRET=
AUTH_URL=http://localhost:3000

# Google OAuth (console.cloud.google.com)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Neon PostgreSQL
DATABASE_URL=
DIRECT_URL=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
